@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Please give the h1 some padding on two sides and zero on others, margin on the sides with no padding, thin purple border on sides without margin, gold background but the gold must be the exact color from the hufflepuff crest */
h1 {
  padding: 0 2rem;
  margin: 2rem 0;
  background-color: gold;
  border-left: 5px solid rebeccapurple;
  border-right: 5px solid rebeccapurple;
}
/* Please give the h2 significant padding on the left and right, a red border on the left and right but the red must be the same from the mighty morphin power rangers logo, and an orange background, and the roboto font */

h2 {
  background-color: orange;
  border-left: 5px solid rebeccapurple;
  border-right: 5px solid rebeccapurple;
  font-family: 'Roboto', sans-serif;
  padding: 0 4rem;
}

/* Please give the section a thick magenta border on the left, 100px of padding on the top and bottom, and 200px of margin on every side without padding or border */

section {
  border-left: 5px solid magenta;
  padding: 100px 0;
  margin-right: 200px;
}

/* Please make the spans have thin Dodger Blue borders, padding on the bottom and right, and light red background */

span {
  border: 20 px dotted dodgerblue;
  padding: 0 3rem 3rem 0;
  background-color: rosybrown;
}
