* {
  background-color: rgb(234, 125, 234);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
footer,
header {
  height: 15em;
  clear: both;
}
section {
  border: 3px solid rgb(160, 213, 26);
  float: left;
  width: 20%;
  height: 39em;
}
.large{
  width:40%;
}
