/* Please Make only Rhino and Zebra Blue */
.africa{
  color:blue;
}
/* Please Make only Hufflepuff Gold */
#bestHouse{
  color:gold;
}
/* Please select Duck with the highest level of specificity possible */
article.areDucksDinosaurs h2.likesToQuack.fight1Or100{
  color: blanchedalmond;
}
/* Please select Rhino with the highest level of specificity possible */
section.top h2#rhino.africa.fourLegs{
 color: #080;
}